c_generated_code
acados_ocp_nlp.json
__pycache__
*.egg-info
.devcontainer/Dockerfile
.devcontainer/devcontainer.json
mav.*
terrain
eeprom.bin
logs
build
install
log
visualizations
recorded_images
.vscode
test/*.png
trained_model.pth
logs_esc